@import "../../constants";

.conduct {
    &-container {
      position: relative;
      box-sizing: border-box;
      height: 70px;
      width: 350px;
      margin: 0 auto;
      margin-bottom: 5%;

      background: #FFFFFF;
      border: 2px solid hsl(250, 54%, 15%);
      box-shadow: 10px 10px #19123C;

        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #19123C;
            margin-top: 0px;
            position: absolute;
            top: 30%;
            left: 25%;
            background-color: none;
            text-decoration: none;
            @include phone {
                font-size: 13px;
                line-height: 20px;
            }
        }
        @include phone {
          width: 220px;
          height: 50px;
          margin-bottom: 10%;
        }
    } 
    
}

.pixel {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #19123C;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(50%, -50%);
}

.arrow {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #19123C;
  text-decoration: none;
  // float to the right middle of the box
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(50%, -50%);
}