@import "../../constants";

.conduct {
    &-container {
      position: relative;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 20%;

      background: #FFFFFF;
      border: 2px solid hsl(250, 54%, 15%);

        p {
            padding-top: 5px;
            font-size: 14px;
            @include phone {
                font-size: 16px;
            }
        }
        a {
            margin-top: 5px;
            font-size: 14px;
        }
        @include phone {
            height: 114px;
        }
    }
    &-shadow-container {
      box-shadow: 20px 20px #19123C;
    }
}