@import "../../constants";

.landing {
    &-container {
        height: 110vh;
        display: flex;
        align-items: center;
        justify-content: center;
        @include phone {
            flex-direction: column;
        }
    }
    &-main-container {
        display: flex;
        flex-direction: column;
        
        row-gap: 15px;
        @include tablet {
            max-width: 44vw;
            
        }
        
        @include phone {
            align-items: center;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        font-family: $font-regular;
        width: 100%;
        text-align: left;
        row-gap: 12px;
        @include phone {
            align-items: center;
            text-align: center;
            row-gap: 5px;
        }
    }
    
    &-title {
        font-size: $text-xlarge;
        font-weight: 600;
        font-family: $font-logo;
        @include tablet {
            font-size: $text-large;
        }
        @include phone {
            font-size: 24px;
        }
    }
    &-title-mobile {
        font-family: $font-logo;
        font-size: 25px;
    }

    &-description {
        font-size: $text-medium;
        @include tablet {
            font-size: $text-small;
        }
        @include phone {
            display: none;
        }
    }
    &-description-mobile {
        display: none;
        @include phone {
            display: block;
            grid-area: text-description;
            font-weight: 600;
            text-align: center;
            justify-self: center;
            width: 270px;
            font-size: 14px;
            font-weight: 400;
        }
        @include small-phone {
            font-size: 14px;
        }
    }
    &-dates {
        grid-area: text-dates;
        font-family: "Lexend";
        font-weight: 600;
        font-size: $text-medium;
        @include phone {
            font-size: 16px;
            font-weight: 600;
        }
        @include small-phone {
            font-size: 14px;
        }
    }


    &-logo-text {
        grid-area: text-title;
        @include phone {
            display: none;
        }
    }
    
    &-logo-text-mobile {
        display: none;
        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .landing-title {
                font-size: $text-medium;
                font-weight: 600;
                font-family: $font-logo;
            }
        }
    }

    
    &-button-container {
        height: auto;
        display: flex;
        gap: 30px;
        @include tablet {
            flex-direction: column;
        }
    }
        
    &-graphic-container {
        z-index: -100;

        #ms-goose-flowers {
            width: 23em;
        }

        @include phone {
            display: none;
        }
    }

}

#teal-asterisk {
    position: absolute;
    z-index: -100;
    left: 0;
    bottom: -40%;

    @include phone {
        width: 17em;
        bottom: -30%;
    }
}
