@import "../../constants";

.landing-button{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: $background-light;
    color: $text-dark;
    font-size: $text-small;
    font-family: "Poppins";
    font-weight: 700;
    border-style: solid;
    text-decoration: none;
    white-space: nowrap;
    box-shadow: 13px 15px 0px 0px #19123c;
    
    @include phone {
        font-size: 16px;
      }
    
    &:hover,
    &:focus {
        opacity: 0.7;
        box-shadow: 0 0 11px rgba(255, 96, 120, 0.5);
        transform: translateY(-5px);
        transition: 0.1s linear;
    }

    .label{
        margin-right: 40px;
    }
}