@import "../../constants";

.landing {
  &-container {
    height: 95vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phone {
      flex-direction: column;
      justify-content: center;
    }
  }
  &-main-container {
    display: flex;
    flex-direction: column;

    row-gap: 15px;
    @include tablet {
      max-width: 50vw;
    }

    @include phone {
      max-width: 70vw;
      align-items: center;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    font-family: $font-regular;
    width: 100%;
    text-align: left;
    row-gap: 12px;
    @include phone {
      align-items: center;
      text-align: center;
      row-gap: 10px;
    }
  }

  &-title {
    font-size: $text-xxlarge;
    font-weight: 600;
    font-family: $font-logo;
    @include tablet {
      font-size: $text-large;
    }
    @include phone {
      font-size: $text-medium;
    }
  }
  &-logo-text {
    display: flex;
    gap: 20px;
    
    img {
      height: 60px;
    }
    @include tablet {
      img {
        height: 40px;
      }
    }
    @include phone {
      .landing-logo {
        display: none;
      }
      img {
        height: 35px;
      }
    } 
  }

  &-description {
    font-size: $text-medium;
    font-weight: 400;
    @include tablet {
      font-size: $text-small;
    }
    @include phone {
      font-size: $text-xsmall;
      width: 270px;
      line-height: normal;
    }
  }

  &-dates {
    grid-area: text-dates;
    font-family: "Lexend";
    font-weight: 600;
    font-size: $text-medium;
    @include phone {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &-button-container {
    margin-top: 30px;
    height: auto;
    display: flex;
    gap: 30px;
    @include tablet {
      flex-direction: column;
    }
  }

  &-graphic-container {
    z-index: -100;
    #ms-goose-flowers {
      width: 30em;
      @include desktop {
        width: 15em;
      }
    }

    @include phone {
      display: none;
    }
  }
}

#ms-goose {
  display: none;
  @include phone {
    display: block;
    width: 9em;
  }
}
#teal-asterisk {
  position: absolute;
  z-index: -100;
  left: 0;
  bottom: -30%;

  @include phone {
    width: 17em;
    bottom: -30%;
  }
}
