@import "../../constants";

.landing-button{
    padding: 13px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    background-color: $background-light;
    color: $text-dark;

    font-size: $text-xsmall;
    font-family: "Poppins";
    font-weight: 700;
    text-decoration: none;
    border-style: solid;
    white-space: nowrap;
    box-shadow: 10px 10px 0px 0px #19123c;
    @include phone {
        font-size: 16px;
      }
    
    &:hover,
    &:focus {
        opacity: 0.7;
        box-shadow: 0 0 11px rgba(255, 96, 120, 0.5);
        transform: translateY(-5px);
        transition: 0.1s linear;
    }

    img {
        width: 20px;
    }

    .label {
        margin-right: auto;
    }
}