@import "../../constants";

.faq {
  &-container {
    text-align: center;
  }
  &-title {
    text-align: left;
  }
  &-questions {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    @include tablet {
      flex-direction: column;
      grid-template-columns: 100%;
    }
  }
  &-left-col,
  &-right-col {
    > * {
      margin-bottom: 1rem;
    }
  }
  &-left-col > :nth-last-child(1),
  &-right-col > :nth-last-child(1) {
    margin-bottom: 0;
  }
  &-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    @include phone {
      width: 300px;
    }
    > a {
      font-family: $font-bold;
      font-weight: bold;
    }
    > img {
      max-width: 276px;
      padding-top: 40px;
    }
  }

  &-all-button {
    padding-bottom: 20px;
  }
}
