@import "../../constants";

.about {
  &-container {
    text-align: left;
    display: flex;
    flex-direction: column;

    padding-bottom: 20px;
    @media (min-width: 1200px) {
      padding-bottom: 300px !important;
    }
    @media (min-width: 900px) {
      padding-bottom: 200px;
    }
  }

  &-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 40%;
    @include phone {
      flex-direction: column;
    }
  }

  &-text {
    padding: 20px, 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: $font-regular;
    font-size: $text-medium;
    p {
      margin-top: 15px;
    }
    @include phone {
      width: 100%;
      p {
        margin-top: 10px;
      }
    }
  }

  &-text-cap {
    margin: 1em 0;
    display: flex;
    font-family: $font-regular;
    font-size: $text-small;
    font-weight: 400;
    p {
      margin-top: 15px;
    }
    @include phone {
      width: 100%;
      p {
        margin-top: 10px;
      }
    }
  }

  &-container-des {
    display: grid;
    text-align: center;
    margin-top: -8em;
    margin-bottom: 6em;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "img description";

    &-img {
      grid-area: img;
      justify-self: center;
    }

    &-caption{
      grid-area: description;
      justify-content: left;
      text-align: left;
      margin: auto 2em;
    }

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }

    &.hidden {
      opacity: 0;
      transform: translateY(20px); /* Optional: Adds a sliding effect */
    }

    @include tablet {
      display: none !important;
    }
  }

  &-caption {
    width: 100%;
    justify-self: center;
    margin-top: 50px;
  }

  &-title {
    border-style: solid;
    border-width: 2px;
    background-color: #dfe5fa;
    width: 90%;
    height: 60%;
    margin: auto;
    text-align: center;
    @include tablet {
      width: 100%;
    }
  }

  &-description {
    overflow: hidden;
    margin: auto;


    @include tablet {
      max-height: 300px;
      min-height: 200px;
      width: 100%;
      padding: 0;
    }
  }

  &-details {
    width: 90%;
    margin: auto;
  }

  &-intro {
    font-size: 1.4em;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      padding-bottom: 0;
    }
  }

  &-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  
    &.hidden {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
}

.animate {
  transform: translateY(40px);
  transition: transform 0.3s linear;
  &:hover {
    transform: translateY(-40px);
    transition: transform 0.3s linear;
    .about-description {
      max-height: 300px;
      min-height: 200px;
      padding-bottom: 30px;
      transition: 0.3s ease;
    }
    .about-events-selector {
      display: block;
      transform: translateY(-65px);
    }
    .prep-image {
      filter: drop-shadow(10px 25px 10px #c3c9ff);
    }
    .hack-image {
      filter: drop-shadow(10px 25px 10px #c6ede6);
    }
    .connect-image {
      filter: drop-shadow(10px 25px 10px #f0ccd1);
    }
  }

  @include phone {
    transform: none;
    &:hover {
      transform: none;
      .date {
        display: block;
      }
    }
  }
  @include tablet {
    transform: none;
    &:hover {
      transform: none;
      .date {
        display: block;
      }
    }
  }
}

.about-mobile {
  display: none;
  padding-top: 50px;
  @include tablet {
    display: block;
    margin-bottom: 50px;
  }
}

.about-slider-container {
  position: relative;
  margin-bottom: 45px;
  justify-content: center;
}

.mobile-image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 20px;
  margin-top: 40px;
}

.mobile-text {
  position: relative;
  width: 75%;
  justify-content: center;
  margin: auto;
  margin-top: 3em;
  text-align: center;

  p {
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.scroll-sections {
  position: relative;
  overflow-y: scroll;
  height: 58vh;
  margin-top: -10em;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit browsers */
  }
}

.scroll-section {
  position: relative;
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  scroll-snap-align: start;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }

  .scroll-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: grid;
    text-align: center;
    margin-bottom: 6em;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "img description";

    @include phone{
      grid-template-columns: 40% 60%;
    }
  }

  .scroll-img {
    grid-area: img;
    justify-self: center;

    @include phone{
      width: 150px;
    }
  }

  .scroll-caption {
    grid-area: description;
    justify-content: left;
    text-align: left;
    margin: auto 2em;
  }

  .scroll-cap{
    @include phone{
      height: 25px;
      margin-top: -90px;
      margin-left: -200px;
    }
  }

  .scroll-description {
    margin-top: 1em;
    @include phone{
      font-size: small;
    }
  }
}
