.judges {
    &-title {
        text-align: left;
    }

    &-carousel {
        width: 100vw;
        display: block;
        position: absolute;
        left: 0;

        @media (min-width: 1441px) {
            width: 1300px;
            margin-left: calc((100vw - 1300px) / 2);
        }

        @media(min-width: 900px) and (max-width: 1000px) {
            left: 5 !important;
        }
    }

    &-carousel-wrapper {
        padding-bottom: 700px;

        @media(max-width: 768px) {
            padding-bottom: 500px;
        }
    }

    &-picture  {
        width: 95%;
        min-height: 400px;
        border-radius: 20px;
        object-fit: cover;
        margin: auto;

        @media(max-width: 1020px) and (min-width: 768px) {
            min-height: 320px;
        }

        @media(max-width: 768px) {
            min-height: 300px;
            max-width: 230px;
        }
    }

    &-star {
        margin-right: 20px;
        height: 70%;
    }

    &-namecard {
        display: grid;

    }

    &-arrow {
        height: 100%;

        @media(max-width: 768px) {
            height: 80%;
        }
    }

    &-card {
        height: 100%;
        width: 120%;

        @media(max-width: 768px) {
            width: 70% !important;
            height: 90% !important;
        }
    }

    &-flower {
        position: relative;
        margin-right: -95%;
        margin-top: -590px;
        z-index: -100;

        @media(max-width: 768px) {
            display: none;
        }

    }

}

.slick-center {
    margin-top: 0 !important;
    .judges-picture {
        transform: scale(1) !important;
        border: 13px solid #ADB4F9 !important;
        margin: auto;
    }

    .judges-desc{
        display: flex !important;
        width: 200%;
        margin-left: -50%;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-top: 30px;

        @media(max-width: 768px) {
            width: 100% !important;
            margin-left: 0 !important;
        }
    }

    .judges-namecard {
        display: flex !important;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: #ADB4F9;
        width: 70%;
        height: 100%;
    }

    .judges-pointer {
        display: block !important;
        margin: auto;
        width: 25%;
        padding-bottom: 30px;
        @media(max-width: 768px) {
            width: 15%;
        }
    }
}

.slick-slide {
    margin-top: 80px; 
    .judges-picture {
        transform: scale(0.75);
        border: 3px solid black;
        margin-right: auto;
    }

    .judges-desc {
        display: none;
    }

    .judges-pointer {
        display: none;
    }

}