@import "../../constants";

.title {
    text-align: left;
    margin: 0 auto;
    color: #19123c;
    font-size: 64px;
    font-family: Lexend;
    font-weight: 600;
    @include phone {
      font-size: 32px;
    }
  }